<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card border-0 shadow p-3">
                <div class="form-floating mb-3 text-center">
                    <h5 class="text-center text-warning">{{ id ? 'Edit' : 'Add' }} Ambre</h5>
                </div>

                <!-- Name Input -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="Name" name="name" [(ngModel)]="name" required>
                    <label for="Name">Name</label>
                    <div *ngIf="errorMessages['name']" class="invalid-feedback">{{ errorMessages['name'] }}</div>
                </div>

                <!-- Price Input -->
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="Price" name="price" [(ngModel)]="price" required>
                    <label for="Price">Price</label>
                    <div *ngIf="errorMessages['price']" class="invalid-feedback">{{ errorMessages['price'] }}</div>
                </div>

                <!-- Description Input -->
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="Description" name="description" [(ngModel)]="description" required></textarea>
                    <label for="Description">Description</label>
                    <div *ngIf="errorMessages['description']" class="invalid-feedback">{{ errorMessages['description'] }}</div>
                </div>

                <!-- Stock Input -->
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="Stock" name="stock" [(ngModel)]="stock" required>
                    <label for="Stock">Stock</label>
                    <div *ngIf="errorMessages['stock']" class="invalid-feedback">{{ errorMessages['stock'] }}</div>
                </div>

                <!-- Discount Input -->
                <!-- <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="Discount" name="discount" [(ngModel)]="discount">
                    <label for="Discount">Discount (%)</label>
                    <div *ngIf="errorMessages['discount']" class="invalid-feedback">{{ errorMessages['discount'] }}</div>
                </div> -->

                <!-- Image Upload -->
                <div class="form-floating mb-3">
                    <input type="file" class="form-control" (change)="onImageSelected($event)" id="Image" accept="image/*" required>
                    <label for="Image">Image</label>
                    <div *ngIf="errorMessages['image']" class="invalid-feedback">{{ errorMessages['image'] }}</div>
                </div>

                <!-- Image Preview -->
                <div *ngIf="imagePreview" class="text-center mb-3">
                    <img [src]="imagePreview" alt="Preview Image" class="img-fluid img-thumbnail" style="max-width: 200px;">
                </div>

                <button type="button" class="btn btn-outline-success" *ngIf="!id" (click)="addAmbre()">Add Ambre</button>
                <button type="button" class="btn btn-outline-primary" *ngIf="id" (click)="updateAmbre()">Update Ambre</button>
            </div>
        </div>

        <div class="col-md-8 mt-2">
            <h5 class="text-danger">Ambre List</h5>
            <div class="card p-3 shadow">
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Description</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Image</th>
                                <!-- <th scope="col">Discount</th> -->
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let amb of ambreList">
                                <td>{{ amb.name }}</td>
                                <td>{{ amb.price }}</td>
                                <td>{{ amb.description }}</td>
                                <td>{{ amb.stock }}</td>
                                <td>
                                    <img *ngIf="amb.imageUrl" [src]="amb.imageUrl" alt="Ambre Image" class="img-fluid img-thumbnail" style="max-width: 100px;">
                                </td>
                                <!-- <td>{{ amb.discount }}</td> -->
                                <td>
                                    <button class="btn btn-outline-warning" (click)="editAmbre(amb)">Edit</button>
                                    <button class="btn btn-outline-danger" (click)="deleteAmbre(amb)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
