<div>
    <h2>Gestion des Catégories</h2>
  
    <!-- Formulaire d'ajout/modification -->
    <form [formGroup]="categoryForm" (ngSubmit)="submitCategoryForm()">
      <div>
        <label>Nom :</label>
        <input formControlName="name" placeholder="Nom de la catégorie" />
        <div *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched">
          Le nom est obligatoire.
        </div>
      </div>
      <!-- <div>
        <label>Description :</label>
        <textarea formControlName="description" placeholder="Description"></textarea>
      </div>
      <div>
        <label>Image (URL) :</label>
        <input formControlName="image" placeholder="URL de l'image" />
        <div *ngIf="categoryForm.get('image')?.invalid && categoryForm.get('image')?.touched">
          L'image est obligatoire.
        </div>
      </div> -->
      <button type="submit" [disabled]="categoryForm.invalid">
        {{ isEditMode ? 'Mettre à jour' : 'Ajouter' }}
      </button>
      <button type="button" (click)="openAddCategoryForm()">Réinitialiser</button>
    </form>
  
    <!-- Tableau des catégories -->
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <!-- <th>Description</th>
          <th>Image</th> -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.name }}</td>
          <!-- <td>{{ category.description }}</td>
          <td>
            <img [src]="category.image" alt="Image de catégorie" width="50" />
          </td> -->
          <td>
            <button (click)="editCategory(category)">Modifier</button>
            <button (click)="deleteCategory(category.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  