<div class="container">
    <h2>Gestion des Avis</h2>
    <div class="row">
        <div class="col-12">
            <div class="card border-0 shadow p-4">
                <!-- Formulaire de gestion -->
                <form [formGroup]="form" (ngSubmit)="saveForm()">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label>Avis:</label>
                            <textarea class="form-control" formControlName="avis" placeholder="Avis"></textarea>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="productVideos">Vidéos:</label>
                            <input type="file" id="productVideos" class="form-control" accept="video/*" multiple
                                (change)="onVideoFileChange($event)" />

                            <!-- Aperçus des vidéos existantes -->
                            <div class="selected-videos-container">
                                <div *ngFor="let vid of form.get('videos')?.value" class="position-relative">
                                    <video [src]="vid" controls class="video-thumbnail"></video>
                                    <button type="button" class="btn btn-danger badge position-absolute"
                                        (click)="removeSelectedVideo(vid)"
                                        style="width: 20px; height: 20px; padding: 0; border-radius: 50%; align-items: center; justify-content: center; top: 0; right: 0;">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <dir class="col-md-4">
                            <!-- Indicateur de téléchargement -->
                             <br>
                            <div *ngIf="isUploading" class="text-success mt-2">Téléchargement en cours...</div>
                        </dir>

                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary me-2"
                                    [disabled]="form.invalid || isUploading">
                                    {{ editingIndex === null ? 'Ajouter' : 'Enregistrer' }}
                                </button>
                                <button type="button" class="btn btn-secondary" (click)="resetForm()">Annuler</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Tableau des catégories -->
<table>
    <thead>
        <tr>
            <th>Avis</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let avis of avis; let i = index">
            <td>{{ avis.avis }}-
                <ng-container *ngIf="avis.videos?.length; else noVideo">
                    <video *ngFor="let video of avis.videos" [src]="video" alt="Vidéo" class="img-fluid img-thumbnail"
                        style="width: 50px;"></video>

                </ng-container>
                <ng-template #noVideo></ng-template>
            </td>
            <td>
                <button (click)="editAvis(i)"><i class="fa-solid fa-pen" style="font-size: 12px;"></i></button>
                <button (click)="openConfirmationModal(avis.id)"><i class="fa-regular fa-trash-can"
                        style="font-size: 12px;"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal" [class.show]="showConfirmationModal" tabindex="-1" style="display: block;"
    *ngIf="showConfirmationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="btn-close" (click)="closeConfirmationModal()"></button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer ce produit ? Cette action est irréversible.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeConfirmationModal()">Annuler</button>
                <button type="button" class="btn btn-danger" (click)="confirmDelete()">Confirmer</button>
            </div>
        </div>
    </div>
</div>