<footer class=" mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h6>Nos Contact</h6>
                <p><i class="fas fa-phone"></i> 29 905 210</p>
                <!-- <p><i class="fas fa-envelope"></i> wahra&#64;gmail.com</p> -->
                <p><i class="fas fa-map-marker-alt"></i> Route de Taniour Km 1.5, Sfax, Tunisia, </p>
            </div>
            <div class="col-lg-4">
                <h6>
                    <a class=" me-3" routerLink="/propos" style="color: #b69e7c;">À propos de nous</a>
                </h6>
                <h6>Suivez-nous</h6>
                <!-- <a href="https://linktr.ee/Accessories_By_Wahra?fbclid=PAZXh0bgNhZW0CMTEAAaaGXpBr2Zx7Ks5dQjY2qzlJmR-6TGGo_Ln2g-LLTN-_P-lf_9ktrLTxyAQ_aem_AFTOS_mOP7us5BtdUXWJnA"
                    target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a> -->
                <a href="https://www.instagram.com/accesories_by_wahra" class=" me-3" target="_blank">
                    <i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100048913273278&mibextid=LQQJ4d" class=" me-3"
                    target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://api.whatsapp.com/send?phone=29905210" class=" me-3" target="_blank">
                    <i class="fab fa-whatsapp"></i></a>
                <!-- <a href="https://www.tiktok.com/@_wahra_" class=" me-3" target="_blank">
                    <i class="fa-brands fa-tiktok"></i></a> -->

            </div>
            <div class="col-lg-4">
                <p>Besoin de conseils personnalisés ? Prenez un rendez-vous avec notre spécialiste pour une
                    consultation dédiée et obtenez des recommandations sur mesure !</p>
                <strong><a routerLink="/consultation">Prendre une Consultation
                        <i class="fa-regular fa-comments"></i></a></strong>
            </div>
        </div>
    </div>
    <div class="subfooter__item subfooter__item--copyright">
        <p style="font-size:12px">
            <span class="subfooter__copyright"> © <a href="/" title="">Accessories_By_Wahra</a> 2024
            </span>Designed by
            <strong>
                <a href="https://www.facebook.com/tansik.production/" style="color: #3e478c;" target="_blank">
                    Tansik Prod
                </a>
            </strong>
        </p>
    </div>
</footer>