<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <!-- Toggler Button -->
    <button id="navbarToggler" class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span *ngIf="!isNavbarOpen"><i class="fas fa-bars"></i></span>
      <span *ngIf="isNavbarOpen"><i class="fas fa-times"></i></span>
    </button>

    <!-- Logo centré -->
    <a class="navbar-brand" routerLink="">
      <img src="assets/wahra.png" alt="Logo" class="brand-logo">
    </a>

    <!-- Barre de recherche -->
    <div class="search-bar mx-auto">
      <div class="input-group">
        <input class="search-input" type="search" placeholder="Rechercher un produit..." />
        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
      </div>
    </div>

    <!-- Menu utilisateur -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
      <li class="nav-item" *ngIf="isUser">
        <a class="nav-link" (click)="logout()" routerLink="login"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
      </li>
      <li class="nav-item" *ngIf="!isUser">
        <a class="nav-link" routerLink="login"><i class="fa-regular fa-user"></i></a>
      </li>
    </ul>
  </div>
</nav>



<nav class="sub-navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid d-flex justify-content-between align-items-center">



    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mx-auto">
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="sub-nav-link" routerLink="manageAmbre" (click)="toggleNavbar()">Manage Ambre</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="sub-nav-link" routerLink="managePierre" (click)="toggleNavbar()">Manage Pierre</a>
        </li>
        <li class="nav-item">
          <a class="sub-nav-link" routerLink="ambre" (click)="toggleNavbar()">Ambre</a>
        </li>
        <li class="nav-item">
          <a class="sub-nav-link" routerLink="pierre" (click)="toggleNavbar()">Pierre</a>
        </li>
      </ul>
    </div>
  </div>
</nav>