<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <!-- Logo centré -->
    <a class="navbar-brand" routerLink="">
      <img src="assets/wahra.png" alt="Logo" class="brand-logo">
    </a>
    <!-- Toggler Button -->
    <button id="navbarToggler" class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span *ngIf="!isNavbarOpen"><i class="fas fa-bars"></i></span>
      <span *ngIf="isNavbarOpen"><i class="fas fa-times"></i></span>
    </button>


    <!-- Barre de recherche -->
    <div class="search-bar mx-auto" *ngIf="userType !== 'admin'">
      <div class="input-group">
        <input class="search-input" type="search" placeholder="Rechercher un produit..." #searchInput
          (keyup.enter)="search(searchInput.value)" />
        <span class="input-group-text" (click)="search(searchInput.value)">
          <i class="fa-solid fa-magnifying-glass"></i></span>
      </div>
    </div>

    <!-- Menu utilisateur -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" *ngIf="userType !== 'admin'">
        <a class="nav-link position-relative" routerLink="cart">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="badge">{{ cartItemCount }}</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="isUser && userType === 'admin'">
        <a class="nav-link chic-link position-relative" aria-current="page" routerLink="carts-management">
          <i class="fa-regular fa-bell"></i>
          <span class="badge">{{ commandeItemCount }}</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="isUser">
        <a class="nav-link" (click)="logout()" routerLink="login"><i
            class="fa-solid fa-arrow-right-from-bracket"></i></a>
      </li>
      <li class="nav-item" *ngIf="!isUser">
        <a class="nav-link" routerLink="login"><i class="fa-regular fa-user"></i></a>
      </li>
    </ul>
  </div>
</nav>



<nav class="sub-navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mx-auto">
        <!-- Boucle sur les catégories -->
        <ng-container *ngIf="userType !== 'admin'">
          <li class="nav-item dropdown position-relative" *ngFor="let category of categories">
            <a class="sub-nav-link d-flex align-items-center me-3 ms-3 dropdown-toggle"
              id="categoryDropdown{{ category.id }}" role="button" aria-expanded="false"
              [routerLink]="['/categorie', category.id]">
              {{ category.name }}
            </a>
            <ul *ngIf="category.sousCategories.length > 0 || category.pierres.length > 0" class="dropdown-menu"
              [attr.aria-labelledby]="'categoryDropdown' + category.id">

              <!-- Sous-catégories -->
              <li *ngFor="let sousCat of category.sousCategories">
                <a class="dropdown-item" [routerLink]="['/sous-categorie', sousCat.id]">
                  {{ sousCat.name }}
                </a>
              </li>

              <!-- Pierres -->
              <li *ngFor="let pierre of category.pierres">
                <a class="dropdown-item" [routerLink]="['/pierres', pierre.id]">
                  {{ pierre.name }}
                </a>
              </li>
            </ul>
          </li>
        </ng-container>

        <!-- Lien pour les administrateurs -->
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="sub-nav-link" routerLink="/categories-management">Gestion des Catégories</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="sub-nav-link" routerLink="/sub-categories-management">Gestion des Sous-Catégories</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="sub-nav-link" routerLink="/products-management">Gestion des Produits</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="sub-nav-link" routerLink="/stones-management">Gestion des Pierres</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="sub-nav-link" routerLink="/users-management">Gestion des Utilisateurs</a>
        </li>
        <!-- <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="sub-nav-link" routerLink="/carts-management">Gestion des Paniers</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="sub-nav-link" routerLink="ambre" (click)="toggleNavbar()">Ambre</a>
        </li>
        <li class="nav-item">
          <a class="sub-nav-link" routerLink="pierre" (click)="toggleNavbar()">Pierre</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>