<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="login(f)" class="border p-4 shadow rounded form-container">
        <h2 class="text-center mb-4 animated-title">Login</h2>

        <div class="mb-3 animated-element">
          <div class="input-group">
            <span class="input-group-text" id="emailIcon"><i class="fas fa-envelope"></i></span>
            <input type="text" autocomplete="username" #email="ngModel" ngModel name="email" class="form-control input-field" placeholder="Email" aria-label="Email" aria-describedby="emailIcon">
          </div>
        </div>

        <div class="mb-3 animated-element">
          <div class="input-group">
            <span class="input-group-text" id="passwordIcon"><i class="fas fa-lock"></i></span>
            <input type="password" autocomplete="current-password" #password="ngModel" ngModel name="password" class="form-control input-field" placeholder="Password" aria-label="Password" aria-describedby="passwordIcon">
          </div>
        </div>

        <button type="submit" class="btn btn-secondary btn-block submit-btn">Login</button>

        <div class="alert alert-danger mt-3" *ngIf="messageError">{{messageError}}</div>

      </form>
    </div>
  </div>
</div>
