h1,
h2,
h3,
h4 {
  font-family: "Poppins";
  /* font-size: 16px; */
  color: #333;
}
.main-image-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}
/* .main-image-container img:hover {
  transform: scale(2.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
} */
.main-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

/* Description */
.description {
  font-family: "Poppins";
  line-height: 1.4;
  font-size: 16px;
}

/* .description {
  margin-bottom: 20px; 
  padding: 10px;
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  border-radius: 8px;
} */

.bienfait-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Titre en couleur sombre */
}

.bienfait-list {
  list-style-type: disc; /* Puces standards */
  padding-left: 30px; /* Indentation des listes */
  margin-bottom: 30px;
}

.bienfait-item {
  font-size: 16px;
  line-height: 1.5; /* Espacement entre les lignes */
  margin-bottom: 5px; /* Espacement entre les items */
}
.error-page p {
  font-size: 1.2rem;
  color: #dc3545;
}
