<div class="container">
  <h2>Gestion des Pierres</h2>
  <div class="row">
    <div class="col-12">
      <div class="card border-0 shadow p-4">
        <!-- Formulaire pour ajouter ou modifier une pierre -->
        <div class="form-floating mb-3 text-center">
          <h4 class="text-center text-primary">{{ editingIndex === null ? 'Ajouter' : 'Modifier' }} une Pierre</h4>
        </div>
        <form [formGroup]="form" (ngSubmit)="saveForm()">
          <div class="row">
            <!-- Nom -->
            <div class="col-md-4 mb-3">
              <label for="name">Nom :</label>
              <input id="name" class="form-control" formControlName="name" placeholder="Nom de la pierre" />
            </div>

            <!-- Image -->
            <div class="col-md-4 mb-3">
              <label for="productImage">Image :</label>
              <input type="file" class="form-control" (change)="onFileSelected($event)" id="productImage"
                accept="image/*" multiple />
              <span *ngIf="isUploading" class="text-success">Téléchargement en cours...</span>
              <!-- Container for images -->
              <div style="display: flex; flex-wrap: wrap; gap: 5px; margin-top: 10px;">
                <div *ngFor="let img of form.get('images')?.value" style="position: relative;">
                  <img [src]="img" alt="Image du produit" class="img-fluid img-thumbnail" style="max-width: 100px;" />
                  <button type="button" class="btn btn-danger badge position-absolute" (click)="removeImage(img)"
                    style="width: 20px; height: 20px; padding: 0; border-radius: 50%; align-items: center; justify-content: center; top: 0; right: 0;">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                </div>
              </div>

            </div>
            <!-- Catégorie -->
            <div class="col-md-4 mb-3">
              <label>Catégories :</label>
              <div *ngFor="let category of categories">
                <input type="checkbox" [value]="category.id" (change)="onCategoryChange(category.id, $event)"
                  [checked]="form.value.categoryId.includes(category.id)" />
                {{ category.name }}
              </div>
            </div>

            <!-- Description -->
            <div class="col-md-6 mb-3">
              <label for="description">Description :</label>
              <textarea id="description" class="form-control" formControlName="description"
                placeholder="Description"></textarea>
            </div>
            <!-- Bienfaits -->
            <div class="col-md-6 mb-3">
              <label for="benefits">Bienfaits :</label>
              <textarea id="bienfaits" class="form-control" formControlName="bienfaits"
                placeholder="Bienfaits (séparés par des retours à la ligne)"></textarea>
            </div>

          </div>

          <div class="row">
            <!-- Boutons d'action -->
            <div class="col-12 text-center">
              <span *ngIf="isUploading" class="text-success">Téléchargement en cours...</span>

              <button type="submit" class="btn btn-primary" [disabled]="form.invalid || isUploading">
                {{ editingIndex === null ? 'Ajouter' : 'Enregistrer' }}
              </button>
              <button type="button" class="btn btn-secondary" (click)="cancelForm()">Annuler</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- Tableau des pierres -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher un produit..." class="form-control mt-5 mb-3">
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Bienfaits</th>
      <th>Image</th>
      <th>Catégorie</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pierre of filteredProduits(); let i = index">
      <td>{{ pierre.name }}</td>
      <td>{{ pierre.description }}</td>
      <td>
        <ul>
          <li *ngFor="let bienfait of pierre.bienfaits?.split('\n')">
            {{ bienfait }}
          </li>
        </ul>
      </td>
      <td>
        <div style="display: flex; flex-wrap: wrap;">
          <img *ngFor="let img of pierre.images" [src]="img" alt="Image de la Chambre"
            class="img-fluid img-thumbnail me-2" style="max-width: 100px; margin-bottom: 5px;">
        </div>
      </td>
      <td>{{ getCategoryNames(pierre.categoryId) }}</td>
      <td>
        <button (click)="editPierre(i)"><i class="fa-solid fa-pen" style="font-size: 12px;"></i></button>
        <button (click)="openConfirmationModal(pierre.id, pierre.images[0] || '')"><i class="fa-regular fa-trash-can"
            style="font-size: 12px;"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modale de confirmation -->
<ng-template #confirmationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Êtes-vous sûr de vouloir supprimer ce produit ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annuler</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete()">Supprimer</button>
  </div>
</ng-template>