<div class="sub-category-management">
  <h2>Gestion des Sous-Catégories</h2>

  <!-- Formulaire pour ajouter ou modifier une sous-catégorie -->
  <div class="form-container">
    <h3>{{ editingIndex === null ? 'Ajouter' : 'Modifier' }} une Sous-Catégorie</h3>
    <form [formGroup]="form" (ngSubmit)="saveForm()">
      <div class="row">
        <!-- Nom -->
        <div class="col-md-6 mb-3">
          <label for="name">Nom :</label>
          <input id="name" class="form-control" formControlName="name" placeholder="Nom" />
        </div>
        <!-- Catégorie -->
        <div class="col-md-4 mb-3">
          <label>Catégories :</label>
          <div *ngFor="let category of categories">
            <input type="checkbox" [value]="category.id" (change)="onCategoryChange(category.id, $event)"
              [checked]="form.value.categoryId.includes(category.id)" />
            {{ category.name }}
          </div>
        </div>

        <!-- <div class="col-md-6 mb-3">
          <label for="categoryId">Catégorie :</label>
          <select id="categoryId" formControlName="categoryId" required>
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div> -->
      </div>
      <div class="row">
        <!-- Boutons d'action -->
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
            {{ editingIndex === null ? 'Ajouter' : 'Enregistrer' }}
          </button>
          <button type="button" class="btn btn-secondary" (click)="cancelForm()">Annuler</button>
        </div>
      </div>
    </form>
  </div>

  <!-- Tableau des sous-catégories -->
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subCategory of sousCategories; let i = index">
        <td>{{ subCategory.name }}</td>
        <td>{{ getCategoryNames(subCategory.categoryId) }}</td>
        <td>
          <button (click)="editSubCategory(i)">Modifier</button>
          <button (click)="deleteSubCategory(subCategory.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>