/* Animation de haut en bas pour les titres */
@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Appliquer l'animation sur les titres h3 */
h3 {
  font-weight: bolder;
  font-size: 33px;
  color: #b69e7c; /* Couleur dorée pour les titres */
  animation: slideDown 0.6s ease-out forwards;
}


/* Animation pour faire apparaître les paragraphes avec un effet de zoom */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animation de zoom pour les paragraphes */
@keyframes scaleUp {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
/* Animation de l'apparition progressive des paragraphes */
p {
  color: #333;
  animation: fadeIn 1.5s ease-out forwards, scaleUp 1s ease-out forwards;
}

/* Animation des éléments au défilement */
.container {
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
