<div class="container mt-5">
    <!-- Titre principal -->
    <h3 class="text-center mb-4 " style="font-family: 'Times New Roman', Times, serif; ">Qui sommes-nous ?</h3>
    <!-- Texte de présentation -->
    <p class="text-justify fs-5" style="line-height: 1.8; font-family: 'Poppins';">
        Créée en 2019 par la fondatrice Mouna Turki, chez <b>Wahra</b>, nous croyons que chaque bijou a une histoire à
        raconter. Spécialisés dans la création de bijoux uniques en pierres naturelles, nous combinons savoir-faire
        traditionnel et passion pour la beauté brute de la
        nature. Chaque pièce est conçue à la main, avec soin et attention, pour offrir un produit qui allie élégance et
        authenticité.
    </p>
    <p class="text-justify fs-5" style="line-height: 1.8; font-family: 'Poppins';">
        Nos bijoux sont fabriqués à partir de pierres précieuses et semi-précieuses soigneusement sélectionnées, chacune
        avec ses propriétés et son énergie propre. Chaque pierre est unique, tout comme chaque personne qui porte nos
        créations. Que ce soit pour un bracelet, une bague ou un collier, nous mettons un point d'honneur à ce que
        chaque bijou soit aussi unique que son propriétaire.
    </p>
    <p class="text-justify fs-5" style="line-height: 1.8; font-family: 'Poppins';">
        Nous sommes convaincus que les bijoux faits main ont une âme et une histoire. C'est pourquoi nous nous engageons
        à créer des pièces qui non seulement embellissent, mais qui apportent également un peu de magie au quotidien. En
        choisissant nos créations, vous choisissez l'authenticité, l'artisanat et la durabilité.
    </p>

    <!-- Titre secondaire -->
    <h3 class="text-center mb-4 mt-5" style="font-family: 'Times New Roman', Times, serif;">Saviez-vous ?</h3>
    <!-- Texte explicatif -->
    <p class="text-justify fs-5" style="line-height: 1.8; font-family: 'Poppins';">
        Chaque pierre possède des propriétés particulières qui peuvent être utilisées pour soulager divers maux, qu'ils
        soient émotionnels ou physiques. Par exemple, certaines pierres peuvent apaiser l'anxiété, réduire les symptômes
        de la dépression ou favoriser un meilleur sommeil en combattant l'insomnie. D'autres pierres, quant à elles,
        sont reconnues pour leurs bienfaits sur des troubles physiques, tels que les problèmes digestifs ou la gestion
        de la douleur.
    </p>
    <p class="text-justify fs-5" style="line-height: 1.8; font-family: 'Poppins';">
        La lithothérapie, qui consiste à utiliser les vertus des pierres et des cristaux, peut être pratiquée de manière
        simple et accessible. Vous pouvez choisir de porter des bijoux en pierres précieuses et minéraux, comme des
        bracelets, des colliers ou des bagues, afin de bénéficier de leurs effets tout au long de la journée. Une autre
        méthode consiste à placer des cristaux et des pierres dans des espaces spécifiques, comme dans votre lieu de
        travail ou votre chambre à coucher, afin de favoriser un environnement propice à la guérison et à l’équilibre.
    </p>
</div>