<!-- <div class="hero-section">
    <div class="hero-content">
        <div class="text-content">
            <h1>Boutique de lithothérapie</h1>
            <h2>
                et pierres de santé <i class="fas fa-gem" style="transform: rotate(15deg); font-size: 2rem;"></i>
            </h2>
            <p>
                Créée en ---, Wahra est la première marque tunisienne de bijoux
                d'exception en Ambre véritable, minéraux et pierres fines.
            </p>
            <p>
                Nous fabriquons à la main des bijoux en pierres naturelles à partir de
                minéraux importés des quatre coins du monde.
            </p>
        </div>
        <div class="image-gallery">
            <img src="assets/DSC03369ff.jpg" alt="Bracelet en pierre"
                style="transform: rotate(-10deg);" />
            <img src="assets/DSC03738ff.jpg" alt="Bijoux en pierre"
                style="transform: rotate(-4deg);" />
            <img src="assets/DSC03852ff.jpg"
                alt="Enfant avec collier" style="transform: rotate(4deg);" />
        </div>
    </div>
</div> -->


<section class="banner">
    <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/Bracelets en Pierre.jpg" class="d-block w-100" alt="Pack Karina">
        </div>
        <div class="carousel-item">
          <img src="assets/pierre2.jpg" class="d-block w-100" alt="Pack Karina">
        </div>
      </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button> -->
      <a (click)="scrollToSection()" class="scroll-down">
        <i class="fas fa-chevron-down"></i>
      </a>
    </div>
  </section>
  
  <div id="scroll" class="container mt-5">
    <div *ngFor="let sousCategorie of sousCategories" class="mb-5">
      <h3 class="sous-categorie-title">{{ sousCategorie.name }}</h3>
      <div class="carousel-container position-relative">
        <div class="d-flex justify-content-center">
          <div class="card mx-2" *ngFor="let produit of getVisibleProducts(sousCategorie.id)" (click)="viewProductDetails(produit.id)">
            <span class="badge position-absolute p-2 text-light stock-badge" [ngClass]="{
                  'bg-success': produit?.stock! > 0,
                  'bg-danger': produit?.stock! === 0
                }">
              {{ produit?.stock! > 0 ? 'En stock' : 'En rupture' }}
            </span>
            <img [src]="produit.images[0]" class="card-img-top" [alt]="produit.name" />
            <div class="card-body">
              <p class="card-price" style="color: #bd4800;">
                {{ produit.price }} DT
              </p>
              <h5 class="card-title">{{ produit.name }}</h5>
            </div>
          </div>
        </div>
        <button (click)="prevSlide(sousCategorie.id)" class="carousel-control-prev" [disabled]="currentIndex[sousCategorie.id] === 0">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button *ngIf="groupedProducts[sousCategorie.id]" (click)="nextSlide(sousCategorie.id)" class="carousel-control-next" [disabled]="currentIndex[sousCategorie.id] >= (groupedProducts[sousCategorie.id].length || 0) - visibleProducts">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <p *ngIf="!groupedProducts[sousCategorie.id]?.length" class="text-muted mt-3">
        Aucun produit disponible pour cette sous-catégorie.
      </p>
    </div>
  </div>
  