<body>
    <div class="slider" x-data="{start: true, end: false}" style="padding-top: 100px">
        <div class="slider__content" x-ref="slider"
            x-on:scroll.debounce="$refs.slider.scrollLeft == 0 ? start = true : start = false; Math.abs(($refs.slider.scrollWidth - $refs.slider.offsetWidth) - $refs.slider.scrollLeft) < 5 ? end = true : end = false;">

            <div class="slider__item">
                <img class="slider__image" src="assets/ambre1.jpg" alt="Image" />
                <div class="slider__info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio blanditiis amet eligendi a,
                        quibusdam culpa non, consectetur cumque placeat ullam officia laboriosam maxime impedit quia
                        repellendus dolores autem quos nam?</p>
                </div>
            </div>

            <div class="slider__item">
                <img class="slider__image" src="assets/Bijoux en Argent.jpg" alt="Image" />
                <div class="slider__info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio blanditiis amet eligendi a,
                        quibusdam culpa non, consectetur cumque placeat ullam officia laboriosam maxime impedit quia
                        repellendus dolores autem quos nam?</p>
                </div>
            </div>

            <div class="slider__item">
                <img class="slider__image" src="assets/Bijoux en Pierre.jpg" alt="Image" />
                <div class="slider__info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio blanditiis amet eligendi a,
                        quibusdam culpa non, consectetur cumque placeat ullam officia laboriosam maxime impedit quia
                        repellendus dolores autem quos nam?</p>
                </div>
            </div>
            <div class="slider__item">
                <img class="slider__image" src="assets/ambre1.jpg" alt="Image" />
                <div class="slider__info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio blanditiis amet eligendi a,
                        quibusdam culpa non, consectetur cumque placeat ullam officia laboriosam maxime impedit quia
                        repellendus dolores autem quos nam?</p>
                </div>
            </div>

            <div class="slider__item">
                <img class="slider__image" src="assets/Bijoux en Argent.jpg" alt="Image" />
                <div class="slider__info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio blanditiis amet eligendi a,
                        quibusdam culpa non, consectetur cumque placeat ullam officia laboriosam maxime impedit quia
                        repellendus dolores autem quos nam?</p>
                </div>
            </div>

            <div class="slider__item">
                <img class="slider__image" src="assets/Bijoux en Pierre.jpg" alt="Image" />
                <div class="slider__info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio blanditiis amet eligendi a,
                        quibusdam culpa non, consectetur cumque placeat ullam officia laboriosam maxime impedit quia
                        repellendus dolores autem quos nam?</p>
                </div>
            </div>
            <div class="slider__item">
                <img class="slider__image" src="assets/ambre1.jpg" alt="Image" />
                <div class="slider__info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio blanditiis amet eligendi a,
                        quibusdam culpa non, consectetur cumque placeat ullam officia laboriosam maxime impedit quia
                        repellendus dolores autem quos nam?</p>
                </div>
            </div>

            <div class="slider__item">
                <img class="slider__image" src="assets/Bijoux en Argent.jpg" alt="Image" />
                <div class="slider__info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio blanditiis amet eligendi a,
                        quibusdam culpa non, consectetur cumque placeat ullam officia laboriosam maxime impedit quia
                        repellendus dolores autem quos nam?</p>
                </div>
            </div>

            <div class="slider__item">
                <img class="slider__image" src="assets/Bijoux en Pierre.jpg" alt="Image" />
                <div class="slider__info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio blanditiis amet eligendi a,
                        quibusdam culpa non, consectetur cumque placeat ullam officia laboriosam maxime impedit quia
                        repellendus dolores autem quos nam?</p>
                </div>
            </div>

            <!-- Add more slider items as needed -->
        </div>

        <div class="slider__nav" style="display: flex; justify-content: center">
            <!-- Navigation buttons can go here -->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.2/cdn.js"></script>

    <!-- Chic Style CSS -->

</body>