<div class="container mt-5">
    <div *ngIf="produit" class="row align-items-start">
        <div class="col-md-6 d-flex flex-column">
            <div class="main-image-container mb-4">
                <img [src]="selectedImage" alt="{{ produit.name }}" class="main-image img-fluid" />
            </div>
            <div class="thumbnails-container d-flex justify-content-center gap-2">
                <img *ngFor="let image of produit.images" [src]="image" alt="{{ produit.name }}" class="thumbnail-image"
                    (click)="selectImage(image)" [class.active]="image === selectedImage" />
            </div>
        </div>

        <div class="col-md-6">
            <h2 class="produit-title">{{ produit.name }}</h2>
            <hr />
            <p class="description">
                <!-- <strong>Description :</strong> <br />-->
                {{ produit.description }}
            </p>
            <hr />
            <span class="badge p-2 stock-badge"
                [ngClass]="{ 'bg-success': produit.stock! > 0, 'bg-danger': produit.stock! === 0 }">
                {{ produit.stock! > 0 ? 'En stock' : 'En rupture' }}
            </span>
            <p class="price"><strong>{{ produit.price }} DT</strong></p>
            <hr />
            <div class="input-group mb-3 quantity-input">
                <span class="input-group-text quantity">Quantité :</span>
                <input type="number" [(ngModel)]="quantity" min="1" [max]="produit.stock" class="form-control"
                    [disabled]="produit.stock === 0" (input)="validateQuantity()" />
            </div>
            <div *ngIf="quantityError" class="text-danger">{{ quantityError }}</div>
            <button [disabled]="produit.stock === 0" class="btn custom-btn"
                (click)="addToCart(produit, quantity)">
                <i class="fa-solid fa-cart-shopping"></i> Ajouter au panier
            </button>
        </div>
    </div>

    <!-- Détails de la pierre associée -->
    <div *ngIf="pierresUniques.size > 0" class="mt-5">
        <h2>Vertus et bienfaits :</h2>
        <p class="description" *ngFor="let bienfaits of pierresUniques | keyvalue">
            {{ bienfaits.value.bienfaits }}
        </p>
        <h2>Pierres utilisés dans ce produit :</h2>
        <div *ngFor="let pierre of pierresUniques | keyvalue" class="pierre-details mt-4 row align-items-center"
            (click)="viewPierreDetails(pierre.value.id)" style="cursor: pointer;">
            <div class="col-md-1">
                <img [src]="pierre.value.images[0]" alt="{{ pierre.value.name }}" class="img-fluid rounded" />
            </div>
            <div class="col-md-11">
                <h4>{{ pierre.value.name }}</h4>
                <p class="description">
                    {{ pierre.value.description }}
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="!produit" class="error-page text-center mt-5">
        <p class="text-danger">Produit non trouvé.</p>
    </div>
</div>