/* Conteneur principal pour l'image */
h2,
h3,
h4 {
  font-family: "Poppins";
  /* font-size: 16px; */
  color: #333;
}
.main-image-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}
/* .main-image-container img:hover {
  transform: scale(2.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
} */
.main-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

/* Thumbnails */
.thumbnails-container img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.thumbnails-container img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.thumbnail-image.active {
  border: 2px solid #007bff;
}

/* Produit Title */
.produit-title {
  font-weight: 500;
  font-size: 28px;
  color: #444;
}

/* Description */
.description {
  font-family: "Poppins";
  line-height: 1.4;
  font-size: 16px;
  /* color: #555; */
}

/* Prix */
.price {
  font-family: "Poppins";
  line-height: 1.6;
  font-size: 28px;
  /* color: #b69e7c; */
  color: #bd4800;
  
}
.stock-badge {
  font-size: 14px;
  font-weight: 500;
}
/* Bouton personnalisé */
/* .custom-btn {
  background-color: #007bff;
  border: none;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-btn:hover {
  background-color: #0056b3;
  transform: scale(1.02);
} */

.custom-btn {
  background-color: #ffffff; /* A vibrant green */
  color: black; /* Text color */
  border: 1px solid #ccc;;
  padding: 10px 10px; /* Adjust padding */
  font-family: "Harmonia Sans", sans-serif; 
  font-size: 16px; /* Font size */
  border-radius: 0px; 
  transition: background-color 0.3s, transform 0.2s; /* Transition for hover effects */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
}

.custom-btn:hover {
  background-color: #ccc; /* Darker green on hover */
  /* transform: translateY(-2px);  */
}

.custom-btn:focus {
  outline: none; /* Remove focus outline */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); /* Custom focus effect */
}


/* Input de quantité */
.quantity-input .quantity {
  font-weight: 500;
}
.quantity-input .form-control {
  max-width: 70px;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
}

/* Message d'erreur */
.error-page p {
  font-size: 1.2rem;
  color: #dc3545;
}

.pierre-details {
  /* background: #f9f9f9; */
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.pierre-details h4 {
  font-weight: 500;
  font-size: 20px;
}
.pierre p {
  font-family: "Poppins";

}
.pierre-details img {
  width: 100px;
  /* height: auto; */
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
