.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .sidebar {
    margin-right: 15px;
    border-right: 1px solid #e0e0e0; 
    padding-right: 15px;
  }
  
  /* Conteneur principal */
  .col-md-8 {
      display: flex;
      flex-direction: column; /* Aligne l'image principale et les miniatures verticalement */
      align-items: center; /* Centre les éléments horizontalement */
  }
  
  /* Image principale */
  .main-image-container {
      margin-bottom: 15px; /* Espace entre l'image principale et les miniatures */
  }
  
  .main-image {
      max-width: 100%; /* L'image principale occupe tout l'espace disponible */
      height: auto;
      /* border: 2px solid #ddd; */
      /* border-radius: 8px; */
      /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }
  
  /* Conteneur pour les miniatures */
  .thumbnails-container {
      display: flex; /* Affiche les miniatures en ligne */
      gap: 10px; /* Espace entre les miniatures */
      overflow-x: auto; /* Permet de défiler horizontalement si trop de miniatures */
      padding: 5px 0;
  }
  
  /* Miniatures */
  .thumbnail-image {
      width: 80px; /* Taille fixe des miniatures */
      height: 60px; /* Taille fixe pour une proportion uniforme */
      object-fit: cover; /* Maintient les proportions des images */
      border: 2px solid transparent; /* Bordure transparente par défaut */
      cursor: pointer; /* Curseur "pointer" pour montrer que les miniatures sont cliquables */
      transition: all 0.3s ease-in-out;
      /* filter: grayscale(100%); */
  }
  
  .thumbnail-image:hover {
      border: 2px solid #666; /* Bordure en survol */
      /* filter: grayscale(50%); */
  }
  
  .thumbnail-image.active {
      border: 2px solid #333; /* Bordure pour l'image sélectionnée */
      /* filter: grayscale(0%); */
  }
  
  
  .chambre-title {
    font-family: "Tenor Sans"; /* Exemple de police moderne */
    font-size: 24px; /* Taille supposée */
    font-weight: 500; /* Semi-gras */
    color: #333; /* Gris foncé */
    margin-bottom: 10px; /* Espacement avec l'élément suivant */
    /* text-transform: uppercase; */
  }
  
  .chambre-info {
    background-color: #f8f8f8; /* Light background for the info section */
    padding: 15px; /* Padding around the content */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); /* Light shadow for depth */
  }
  
  .description,
  .dimensions,
  .material,
  .details,
  .quantity {
    font-family: "Harmonia Sans", sans-serif; /* Exemple de police claire */
    font-size: 14px; /* Petite taille pour le texte descriptif */
    font-weight: 400; /* Régulier */
    line-height: 1.5; /* Espacement pour lisibilité */
  }
  .price {
    display: flex; /* Utiliser flexbox pour aligner la ligne et le prix */
    align-items: center; /* Centrer verticalement les éléments */
    justify-content: flex-end; /* Aligner à droite */
    font-family: "Harmonia Sans", sans-serif; 
    font-size: 16px; /* Taille de texte pour le prix */
    font-weight: bold; /* Mettre le prix en gras */
    color: #333; /* Couleur du texte */
  }
  
  .price .line {
    flex-grow: 1; /* Remplit l'espace disponible avant le prix */
    height: 1px; /* Épaisseur de la ligne */
    background-color: #444; /* Couleur de la ligne */
    margin-right: 10px; /* Espacement entre la ligne et le prix */
  }
  
  .color-samples {
    display: flex;
    align-items: center; /* Center align color samples */
    margin: 10px 0; /* Vertical margin */
  }
  
  .color-sample {
    width: 30px; /* Width of color sample */
    height: 30px; /* Height of color sample */
    margin-right: 10px; /* Space between samples */
    border: 1px solid #ccc; /* Border around color sample */
    border-radius: 50px; /* Rounded corners */
    cursor: pointer; /* Change cursor for clickability */
    transition: transform 0.3s; /* Smooth transition */
  }
  
  .color-sample:hover {
    transform: scale(1.1); /* Scale effect on hover */
  }
  .quantity-input {
    margin: 10px 0;
    width: 160px;
  }
  
  .quantity-input span {
    font-weight: bold; /* Mettre le label en gras */
    display: block; /* Affichage en bloc pour que le champ soit en dessous */
  }
  
  .quantity-input input {
    padding: 5px; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure standard */
    border-radius: 4px; /* Coins arrondis */
    font-size: 16px; /* Taille de la police */
  }
  .custom-btn {
    background-color: #ffffff; /* A vibrant green */
    color: black; /* Text color */
    border: 1px solid #ccc;;
    padding: 10px 10px; /* Adjust padding */
    font-family: "Harmonia Sans", sans-serif; 
    font-size: 16px; /* Font size */
    border-radius: 0px; 
    transition: background-color 0.3s, transform 0.2s; /* Transition for hover effects */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
  }
  
  .custom-btn:hover {
    background-color: #ccc; /* Darker green on hover */
    /* transform: translateY(-2px);  */
  }
  
  .custom-btn:focus {
    outline: none; /* Remove focus outline */
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); /* Custom focus effect */
  }
  .details-container {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 1.3s ease, opacity 2.6s ease;
  }
  
  .details-container.show {
    max-height: 500px; /* Ajustez selon la hauteur maximale attendue */
    opacity: 1;
  }
  .error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
  }
  
  .error-content {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 600px;
  }
  
  .error-content p {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
  }